body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

header {
    background-image: url('./images/note.jpg');
    height: 500px;
    color: rgba(43, 45, 66, 1);
    margin: 0;
    text-align: center;
}
h1,
h3 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 3em;
    background-color: rgba(237, 242, 244, 0.6);
    margin: 0;
}

.subtitle {
    font-family: 'Lato', sans-serif;
    background-color: rgba(237, 242, 244, 0.6);
    font-size: 1.5em;
}
.list-form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    left: 124px;
    width: 175px;
}

button,
input {
    height: 30px;
    margin-bottom: 10px;
}

button {
    background-color: rgba(141, 153, 174, 1);
    font-size: 1em;
}

.label {
    text-align: left;
}

main {
    background-color: rgba(43, 45, 66, 1);
    height: 900px;
}

.clothespin {
    position: relative;
    top: -50px;
    height: 100px;
}

.post {
    margin: 0;
    background-color: rgba(237, 242, 244, 0.6); 
    height: 350px;
    width: 25%;
}

h3 {
    padding: 5px;
    margin-top: -50px;
}

.header_checklist {
    background-color: rgba(237, 242, 244, 0.89);
    position: relative;
    bottom: 45%;
    left: 57%;
    height: 295px;
    width: 25%;
    padding: 15px;
}

.list-item {
    color: rgba(43, 45, 66, 1);
    list-style: none;
    text-align: left;
}

.header_checklist-title {
  font-size: 1.5em;
}
